<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Marketing Campaign Clustring</h1>
    <form action="/predict" method="post">
      
      <input name="invoice_frequency" type="text" placeholder="eneter invoice_frequency">
      <input name="total_quantity" type="text" placeholder="eneter total_quantity">
      <input name="total_bill" type="text" placeholder="eneter total_bill">
      <input name="day_gap" type="text" placeholder="eneter day_gap">
      <select name="country">
        <option >Iceland</option>
        <option >Finland</option>
        <option >Italy</option>
        <option >Norway</option>
        <option >Bahrain</option>
        <option >Spain</option>
        <option >Portugal</option>
        <option >Switzerland</option>
        <option >Austria</option>
        <option >Cyprus</option>
        <option >Belgium</option>
        <option >Denmark</option>
        <option >Australia</option>
        <option >France</option>
        <option >Germany</option>
        <option >RSA</option>
        <option >Greece</option>
        <option >Sweden</option>
        <option >Israel</option>
        <option >USA</option>
        <option >Saudi Arabia</option>
        <option >Poland</option>
        <option >United Arab Emirates</option>
        <option >Singapore</option>
        <option >United Kingdom</option>
        <option >Japan</option>
        <option >Netherlands</option>
        <option >Lebanon</option>
        <option >Brazil</option>
        <option >Czech Republic</option>
        <option >Channel Islands</option>
        <option >EIRE</option>
        <option >European Community</option>
        <option >Lithuania</option>
        <option >Canada</option>
        <option >Malta</option>
        <option >Unspecified</option>
      </select>
      <br>
      <input type="submit" value="submit">
      </form>
</body>
</html>